/**{
    border-style: solid;
}*/


.titulos{
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
     color: #E0141E;
}


#lista{
    list-style: none;
    margin: 10px;
}

.botao {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: bold;
}

#botao1{
    background-color:#F08D39;
    color: #272a2e;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
}

#botao2{
    background-color:#F3BE7A;
    color: #272a2e;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
}

#botao3{
    background-color:#5E7AC4;
    color: #272a2e;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
}

#botao4{
    background-color:#3852B4;
    color: #272a2e;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
}

#titulo{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style:normal;
    color: #272a2e;
}

.imagem{height: 300px;width: 600px; 
display: block;
margin: auto;
}

.principal{height:"1500" width="300px"
}

p{ text-align: justify;
    
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.referencias:link {
    color: #E0141E;
    text-decoration: none;
}
.referencias:visited {
    color: #E0141E;
    text-decoration: none;
}