

*{
    border-style: solid;
}

.paragrafo{
    margin-left: 60%;
}
.botao{
    background-color:#98a4b8;
    color: #272a2e;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

img{height: 300px;width: 600px;
}

img{height: 300px;width: 600px;
    
}
